<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact form</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="contact-form">
        <form>
            <div class="form-group">
                <label for="name">YOUR NAME</label>
                <input type="email" class="form-control" id="name" placeholder="Type your name">
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">PHONE NUMBER</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Type your phone number">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">YOUR EMAIL</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Type your email">
                    </div>
                </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">YOUR MESSAGE</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Type your message here"></textarea>
            </div>
          </form>
    </div>
</body>
</html>