*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.contact-infor-item{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.contact-infor-item > div{
    margin-left: 1rem;
    flex-grow: 1;
}