.avatar{
    width: 620px;
    height: 620px;
    background-image: url(../../public/images/avatar.jpg);
    background-color:#D0EFEA;
    background-position: right;
    background-size: cover;
    border-radius: 50%;
}