<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About content</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="about-content">
        <p class="about-content-item">I'm a senior student at PTIT</p>
        <p class="about-content-item">My major is Information Security Industry</p>
        <p class="about-content-item">I have spent one year improving my skill in Web develope </p>
    </div>

</body>
</html>