@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.about-content{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FBD214;
    font-weight: 400;
    font-size: 1.5rem;
}
.about-content-item{
    padding-bottom: 1.5rem;
}

.about-content-item:last-child{
    padding-bottom: 0;
}