<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work experiences item</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="work-experiences-item">
        <div class="work-experiences-item-date">JUNE  2019 - SEPTEMBER  2019</div>
        <div class="work-experiences-item-position margin-top-15">Intership</div>
        <div class="work-experiences-item-company margin-top-15">CDIT company</div>
        <div class="work-experiences-item-experience margin-top-15">
            Last summer, I participated in an internship at a programing company, and it taught me analytics 
            , programming and team work  skills. This internship fits well  with this position because I had an experience to work in an professional environment
            , as well as  had basic knowledge about Programming.
        </div>
    </div>

</body>
</html>