@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-top-15{
    margin-top: 15px;
}

.work-experiences-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #333333;
    justify-content: center;
}

.work-experiences-item-experience{
    width: 70%;
}

.work-experiences-item-date{
    font-size: 1.5rem;
    color: #707070;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.work-experiences-item-position{
    font-size: 1.9rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    color: black;
}

.work-experiences-item-company{
    font-size: 1.5rem;
    color: #707070;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.work-experiences-item-experience{
    font-size: 1.2rem;
    color: #A8C299;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}