*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
.logo{
    font-size: 2rem;
    color: #FBD214;
    font-family: 'Crimson Text', serif;
    font-weight: 800;;
}