<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills Item</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"" crossorigin="anonymous">
</head>
<body>

    <div class="skills-item">
        <div class="skills-item-overlay">
            <i class="far fa-window-maximize fa-3x" style="color: white;"></i>
            <div class="skill-name">Front End</div>
            <div class="list-sub-skills">HTML, CSS, JavaScript, jQuery, Lodash, MomentJS VueJS</div>
        </div>
    </div>
    

</body>
</html>