<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section-title</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="section-title-des-wrap">
        <div class="section-title-wrap">
            <div class="section-title">Skills</div>
            <div class="section-title-underline"></div>
        </div>
        <div class="section-desciption">
            I want to become a Full Stack developer and here are my skills
        </div>
    </div>

</body>
</html>