<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <ul class="menu">
        <li>
            <a href="#">
                Home
                <div class="menu-border-underline"></div>
            </a>
        </li>
        <li>
            <a href="#about">
                About Me
                <div class="menu-border-underline"></div>
             </a>
        </li>
        <li>
            <a href="#skills">
                Skills
                <div class="menu-border-underline"></div>
            </a>
        </li>
        <li>
            <a href="#experiences">
                Experiences
                <div class="menu-border-underline"></div>
            </a>
        </li>
        <li>
            <a href="#contact">
                Contact
                <div class="menu-border-underline"></div>
            </a>
        </li>
        <li>
            <a href="#blog">
                Blog
                <div class="menu-border-underline"></div>
            </a>
        </li>
    </ul>

</body>
</html>